{
  "printWidth": 80,
  "tabWidth": 4,
  "singleQuote": true,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
